.np-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
 
    
}

.np-passwords{
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px 0;
}

.np-passwordLabel{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    margin-top: 20px; 
    margin-bottom: 5px;  
}

.np-password{
    width: 478px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--logo-color, #FF5670);        
}

.np-cpassword{
    width: 478px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DADADA;
    background: rgba(230, 230, 230, 0.20);        
}